.header
{
    width: 100%;
    height: 70px;
    background-image: linear-gradient(to right, #002020, #008686);
    display: flex;
    align-items: center;
}
.tituloHeader
{
    font-size: 40px;
    margin-left: 10px;
    margin-top: -5px;
    color: #ffffff;
    font-weight: bold;
	cursor: pointer;
}
.divBtnsHeader
{
    margin-left: auto;
    margin-right: 20px;
}
.btnHeader
{
    background-color: #00AA4E;
    color: #ffffff;
    font-weight: bold;
    border: none;
    height: 42px;
    margin-right: 10px;
    font-size: 20px;
	transition: box-shadow 0.3s ease;
}
.btnHeader:hover
{
    background-color: #00bf58;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}